<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>QrCode generation</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-input [(ngModel)]="string" type="text" placeholder="Enter code here"></ion-input>
  <button ion-button (click)="Generate()" >Generate</button>
  <img [src]="qrCodeUrl" alt="" *ngIf="isGenerated()">
  <div *ngIf="isGenerated()">
    <button ion-button (click)="Share()">Share</button>
  </div>
</ion-content>
